<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Get your band heard</h1>
  <p>A a free site where you find the hottest bands</p>
  <p><%= link_to "Sign up to add your own band", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

<div class="row">
  <% @bands.each do |band| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <%= link_to (image_tag band.image.url(:medium), class: 'image'), band %>
    </div>
  </div>
  <% end %>
</div>
